@import 'mixins.scss';


#header {
  display: flex;

  width: 100%;
  height: 9rem;

  background-color: #636363;
  border-bottom: 1px solid #1e1e1e;

  @include sm {
    height: 4rem;
  }

  h1 {
    display:flex;
    align-items:center;

    margin: 0;

    height: 100%;
  }

  #header-logo {
    display: block;

    margin: 0.5rem;

    width: 8rem;

    @include sm {
      display: none;
    }
  }

  #header-menu {
    display: none;
    align-items: center;

    margin: 0;
    padding: 0 1rem 0.25rem 1rem;

    font-size: 2.5rem;

    @include sm {
      display: flex;
    }
  }
}
