.navigation-category-name {
  display: flex;
  align-items: center;

  padding: 0.1rem 0 0.1rem 0.2rem;

  background-color: #4E4E4E;
  border-bottom: 1px solid #1e1e1e;

  font-weight: 700;
}

.navigation-page {
  :hover {
    background-color: #686868;
  }
}

.navigation-page-name {
  display: flex;
  align-items: center;

  padding: 0.1rem 0 0.1rem 0.5rem;

  background-color: #585858;
  border-bottom: 1px solid #1e1e1e;

  text-decoration: underline;
}

.arrow {
  padding: 0 0.2rem;
}

#navigation {
  width: 16rem;
  height: 100%;

  background-color: #636363;
}

#navigation-content {
  width: 16rem;
  height: 95%;

  overflow-y: auto;

  background-image: linear-gradient(to top, #1e1e1e 1px, rgba(255, 255, 255, 0) 2px);
	background-position: bottom;
	background-size: 80% 25px;
	background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .navigation-category-name, .navigation-page-name {
    height: 2rem;
  }

  #navigation {
    width: 100%;
  }

  #navigation-content {
    width: 100%;
  }
}
